.Contact {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.ContactMeContainer {
    width: 25rem;
    height: 30rem;
    padding: 2rem;
    margin-bottom: 5rem;
}*/

.ContactMeContainer h2 {
    font-size: 1.5em;
    font-family: 'Kumbh Sans', sans-serif;
    color: rgb(60, 51, 51);
    letter-spacing: 1px;
    margin-bottom: 3rem;
}

form {
    height: 50vh;
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    color: rgb(60, 51, 51);
    border-radius: 5px;
    overflow: hidden;
}

.FieldBox {
    position: relative;
    margin-bottom: 2rem;
}

/*input {
    height: 1.5rem;
    width: 10rem;
    border: 1px solid rgba(128, 128, 128, 0.336);
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 1.7rem;
}

textarea {
    margin-top: 0.5rem;
    height: 10rem;
    width: 20rem;
    border: 1px solid rgba(128, 128, 128, 0.336);
    border-radius: 5px;
}

button {
    padding: 0.5rem;
    margin-top: 2.4rem;
    border: 1px solid rgba(128, 128, 128, 0.336);
    border-radius: 5px;
    font-size: 0.9em;
    color: rgb(60, 51, 51);
    transition: all .2s ease;
    justify-self: center;
    margin-left: 8.5rem;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px rgba(128, 128, 128, 0.336);
}*/

button {
    padding: 0.5rem;
    position: absolute;
    right: 48%;
    border: 1px solid rgba(128, 128, 128, 0.336);
    border-radius: 5px;
    font-size: 0.9em;
    color: rgb(60, 51, 51);
    transition: all .2s ease;
    text-align: center;
    margin-left: 8.5rem;
}

button:hover {
    transform: scale(1.1);
    border: 1px solid rgb(255, 91, 32);
    color: rgb(255, 91, 32);
    cursor: pointer;
}

button:focus {
    outline: none;
}

.ErrorMessage {
    position: absolute;
    color: red;
    transform: translateX(15rem);
    opacity: 0;
    transition: all .2s ease;
    font-size: 12px;
}

.ErrorMessage.error {
    transform: translateY(0rem);
    opacity: 1;
}

.FieldBox input {
    width: 100%;
    height: 2rem;
    border: none;
    padding-top: 9px;
    outline: none;
}

.FieldBox textarea {
    width: 10rem;
    height: 6rem;
    resize: horizontal;
    border: none;
    padding-top: 0px;
    outline: none;
}

.FieldBox textarea label{
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid  black;
}

.FieldBox label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid  black;
}


.FieldBox label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid rgb(255, 91, 32);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.ContentName {
    position: absolute;
    bottom: 10px;
    left: 0px;
    transition: all 0.3s ease;
}

.FieldBox input:focus + .LabelName .ContentName, 
.FieldBox input:valid + .LabelName .ContentName {
    transform: translateY(-150%);
    font-size: 14px;
    color: rgb(255, 91, 32);
}

.FieldBox input:focus + .LabelName::after, 
.FieldBox input:valid + .LabelName::after {
    transform: translateX(0%);
}

.FieldBox textarea:focus + .LabelName .ContentName, 
.FieldBox textarea:valid + .LabelName .ContentName {
    transform: translateY(-690%);
    font-size: 14px;
    color: rgb(255, 91, 32);
}

.FieldBox textarea:focus + .LabelName::after, 
.FieldBox textarea:valid + .LabelName::after {
    transform: translateX(0%);
}

.MessageSent {
    width: 25rem;
    height: 14rem;
    padding: 2rem;
    position: absolute;
    z-index: 1000;
    background-color: rgb(227, 224, 221);
    transform: translate(-9rem, -20rem);
    color: rgb(60, 51, 51);
    display: none;
    transition: all .2s ease-in-out;
}

.MessageSent.open {
    display: block;
}

.MessageSentText {
    line-height: 2;
    transform: translateY(-2rem);
}

.MessageSent p {
    color: rgb(255, 91, 32);
    position: absolute;
    font-size: 1.5em;
    font-weight: 800;
    transform: translate(24.9rem, -2.5rem);
    cursor: pointer;
    
}

.MessageSent h3 {
    font-size: 1.5em;
}

.envelopeIcon {
    color: grey;
    font-size: 2em;
}

